body{
	background-color:#9db79f;
	margin: 0px;
	overflow-x: hidden;
}

#header{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:50px
}

.button{
	padding:10px 15px;
	border:none;

}

.button:hover{
	background-color:#0d6614;
}


#nav{
	background-color:#2e8935;
	color:white;
	text-align:center;
	padding:10px;

}

#nav ul{
	list-style:none;
}

#nav li{
	display:inline;
}

#nav a{
	text-decoration:none;
	margin:80px;
	font-size:25px;
	font-family: 'Indie Flower', cursive;
	color:#9db79f;
	padding:15px 40px;
}


#showcase{
	text-align:center;
	margin-top:35px;
	font-family: 'Indie Flower', cursive;
	font-size:40px;
}

.dropdowns{
	background-color:#2e8935;
	color:#b8dfff;
	padding:50px;
	font-family: 'Open Sans', sans-serif;
}


.dropbutton {
    background-color:#2e8935;
    color:#9db79f;
    padding: 16px;
    font-size: 20px;
    border: none;
    width:200px;
    font-family: 'Indie Flower', cursive;
    
}

#pc {
    position: relative;
    display: inline-block;
    margin:0px 340px 200px 350px;
    width:200px; 
}

#gear {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#2e8935;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#9db79f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-content a:hover{
	background-color:#0d6614;
}

#pc:hover .dropdown-content{
	display: block;
}

#pc:hover .dropbutton{
	background-color:#0d6614;
}


#gear:hover .dropdown-content{
	display: block;
}

#gear:hover .dropbutton{
	background-color:#0d6614;
}



#appleosip{
	position: absolute;
	height:100px;
	width:100px;
    bottom:-110px;
    left:50px;
    animation: appleosip 12.5s infinite linear;

}

@keyframes appleosip {
    0% {left: -400px;}
    100% {left: 100%;}
}


#main-footer{
	background-color:#2e8935;
	color:#9db79f;
	text-align:right;
	padding:10px;
	margin-top:150px;
	font-size:8px;
}

#main-footer a{
	text-decoration:none;
	color:#9db79f;
}

.footer-button{
	padding:10px 15px;
	border:none;
}

.footer-button:hover{
	background-color:#0d6614;
}